.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.content {
  width: 80%;
}

.buttonContainer {
  margin: 20px 0;
  text-align: left;
}
.main_image {
  border-radius: var(--main-border-radius);
}
