.header {
  animation: reveal 1s ease-in-out forwards;
  margin: 2rem auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 0.85rem;
  width: 100%;
  z-index: 2;
  max-width: var(--max-width);
  border-bottom: 1px solid var(--main-background-color);
  padding-bottom: 1rem;
}

.avatar_container {
  display: flex;
  gap: 12px;
}
.profile_content {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-left: 20px;
  margin-right: 20px;
}

.avatar_container {
  margin-right: 10px;
  background-color: #fff;
  border-radius: 10px;
  padding: 5px;
  border: 3px solid #652ece;
}

.display_name {
  flex: 1;
  color: var(--main-text-color);
}

@keyframes reveal {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
